
@{
    ViewBag.Title = "ThemHoaDon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ThucTapNhomProject.Models;
@model HoaDon
    <div class="container padding">
        <div class="container padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h3 class="display-5">Thêm Hóa Đơn</h3>
                </div>
            </div>
        </div>
        <div class="row datban">
            <div class="col-md-12">
                <form action="/Bill/ThemHoaDon" method="post">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="hidden" class="form-control form-control-sm"
                                   name="SoHD" value="@Model.SoHD">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="sel1">
                                <h6 class="display-6">số lượng</h6>
                            </label>
                            <input type="text" class="form-control form-control-sm"
                                   placeholder="số lượng" name="SoLuong">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="sel1">
                                <h6 class="display-6">Mã Món</h6>
                            </label>
                            <div class="input-group date">
                                <input type="text" class="form-control form-control-sm"
                                       placeholder="mã món" name="MaMon">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" value="ThemHD">Thêm</button>
                </form>
            </div>
        </div>
    </div>

